/* MAP FRAME */
.main-map1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* POINT/HEXAGON TOGGLES */

.hexagonbutton {
    position: absolute;
    display: block;
    background: #ffffff;
    z-index: 1000;
    top: 5px;
    left: 5px;
    /* display: flex; */
    padding: 10px;
    border-radius: 8px;
    max-width: 200px;
}

.pointbutton {
    position: absolute;
    display: block;
    background: #ffffff;
    z-index: 1000;
    top: 50px;
    left: 5px;
    /* display: flex; */
    margin: 0px 10 30 0px;
    padding: 10px;
    border-radius: 8px;
    max-width: 200px;
}

/* LEGEND ITEMS */

.legend {
    position: absolute;
    display: block;
    background: #ffffff;
    z-index: 1000;
    bottom: 40px;
    right: 5px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 200px;
}

.legendtext {
    font: 10px 'Arial', Helvetica, Verdana, sans-serif;
    color: #000000;
    display: inline-block;
}

.legendtitle {
    font: 10.5px 'Arial', Helvetica, Verdana, sans-serif;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    max-width: 100px;
}

/* Code attribution for hexagon shape (Temani Afif 2026): https://css-tricks.com/responsive-hexagon-grid-using-modern-css/ */
.hex {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    border-radius: 25% / 50%;
    corner-shape: bevel;
    aspect-ratio: 1/cos(30deg);
    border: 2px solid #000000;
    box-sizing: border-box;
    display: inline-grid;
}


.pedestrianpoints {
    display: inline-block;
    margin-right: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 0.1px, solid #000000;
    background-color: #0800ff;
}


.cyclistpoints {
    display: inline-block;
    margin-right: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 0.1px, solid, #000000;
    background-color: #D000FF;
}